.container {
    width: 26em;
    min-height: 10em;
    max-height: 10em;
    margin: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.result {
    background-color: #A3D7F9;
}

.error {
    background-color: #ffb2b2;
}

.headerContainer {
    width: 24em;
    max-height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: left;
}

.headerText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1em;
}

.contentContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.contentText {
    max-height: 5.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 24em;
    font-size: 1em;
}

.urlContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
}