.container {
    height: 4em;
    width: 100%;
    background: #eed9c4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: 1em;
}

.textHeader {
    font-size: 1.5em;
}